.register {
  background-color: #e9ebee;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-container {
  width: 612px;
  display: flex;
  height: 372px;
  padding: 20px;
  background-color: #e9ebee;
  flex-direction: column;
}

.register-container > h1 {
  font-weight: 630;
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.register-container > h3 {
  font-weight: 330;
  color: black;
  font-size: 25px;
  margin-bottom: 20px;
  margin-left: 107px;
}

.register-container > form > center > input {
  height: 33px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: white;
  width: 396px;
  border: 0.1px solid grey;
}

.register-container > form > center > input::-webkit-input-placeholder {
  font-size: 22px;
  color: rgb(170, 170, 170);
  padding-left: 10px;
  padding-top: 40px;
}

.register-register {
  background-color: #5e994b;
  border: none;
  width: 196px;
  height: 38px;
  border-radius: 3px;
  border: 1px solid rgb(59, 110, 34);
  color: white;
  font-size: 17px;
  font-weight: 700;
}

.register-name {
  height: 36px !important;
  margin-bottom: 10px;
  background-color: white;
  width: 193px !important;
  border: 0.5px solid grey;
  margin-left: 10px;
  background-origin: 5px;
}

.register-gender {
  display: flex;
  color: rgb(144, 148, 156);
  font-size: 18px;
  margin-left: 110px;
  font-weight: 400;
}

.register-date2 {
  height: 20px;
  width: 135px;
  margin-left: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0.5px solid grey;
  border-radius: 5px;
}

.register-date {
  display: flex;
  color: rgb(144, 148, 156);
  font-size: 18px;
  margin-left: 110px;
}

.register-container > form > .register-radio-container > label {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
  font-size: 18px;
  margin-left: 6px;
}

.register-container > form > .register-radio-container {
  margin-left: 110px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.register-policy {
  font-size: 11px;
  line-height: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #777;
  font-weight: 400;
  max-width: 300px;
  margin-left: 110px;
  margin-bottom: 20px;
}

.register-policy > span {
  color: rgb(56, 158, 207);
}
