.sideBar2 {
  flex: 1;
  margin-left: 30px;
  margin-top: 30px;
}

.sideBar2-languages {
  background-color: white;
  border: 1px solid rgba(199, 199, 199, 0.631);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 80px;
}

.sideBar2-languages p {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  color: #4765a0;
  margin-left: 3px;
}

.sideBar2-languages p:hover {
  cursor: pointer;
}

.sideBar2-selected {
  color: gray !important;
}

.sideBar2-policies {
  display: flex;
  color: gray;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 10px;
  font-family: Roboto, sans-serif;
  font-size: 13px;
}

.sideBar2-policies p {
  margin-left: 6px;
}

.copyright {
  color: #444;
  font-family: Roboto, sans-serif;
  font-size: 13px;
}
